body {
    background-color: #F09838;
    color: #A03028;
}

#tabla1 {
    width: 800px;
    border-spacing: 0px;
    background-color: #FFECC0;
}

.width150 {
    width: 150px;
}

.igazitKozep {
    text-align: center;
}

#div1 {
    width: 300px;
    margin: auto;
    text-align: center;
    color: #FFECC0;
    background: #F09838;
}